body {
  background: url(../images/fabric_1.png)
}

.my-header-class {
  border-bottom: gray 3px solid
}

.my-nav-sep {
  color: lightgray;
  font-size: 16px;
}

.my-index-class {
  border: 2px gray solid;
  background: white;
}

.my-footer-class {
  background: darkgray;
  border-top: 7px solid rgb(17,161,161); 
  height: 60px;

}

.blurb1 {
  letter-spacing: 2px;
  line-height: 1.5; 
}

.my-button-class {
  background: rgb(17,161,161);
}